{% load comments %}
<html>
<body>

<h1><a href="/">Example SSI site</a></h1>

<h2>{{article.name}}</h2>
<div>{{article.text}}</div>

<h3>Comments:</h3>
{% if settings.USE_SSI %}
<!--# include virtual="{% url ssi-comments-list article.pk %}" -->
{% else %}
{% render_comment_list for article %}
{% endif %}

</body>
</html>

